*, *:before, *:after { box-sizing: border-box; }

body {
font-family: serif;
font-size: 12px;
background-color: #dadada;
}

.container {
  margin: 20px auto;
  width: 420px;
}

.preview {
  width: 400px;
  height: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.baku {
  background-image: url(../images/baku.jpg);
 padding: 20px;
}

.london {
  background-image: url(../images/london.png);
  padding: 20px;
}
.rome {
  background-image: url(../images/rome.jpg);
  padding: 20px;
}

.madrid {
background-image: url(../images/madrid.jpg);
padding: 20px;
}

.emphasis {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px 0 15px 110px;
  position: middle;
}



h1 {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 400;
}

h2 {
  font-size: 2em;
  font-weight: 400;
}

@media (min-width: 575px) {

.container {
  margin: 0px auto;
  width: 80%;
  }

  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }

.preview {
 width: 48%;
 margin: 1%;
 height: 200px;
 background-size: cover;
 float: right;
  }
}
  @media (min-width: 991px) {

    .emphasis {
      margin: 0px auto;
    }

    .container {
      margin: 0px auto;
      width: 70%;
    }

    h1 {
      margin: 0px auto;
      font-size: 3em;
      position: center;
    }
    h2 {
      font-size: 2.5em;
    }

    .preview {
      float:left;
      width: 23%;
      margin: 2em 1%;
      height: 200px;
      background-size: cover;
    }
  }
