*, *:before, *:after { box-sizing: border-box; }

body {
background-color: #dadada; font-size: 10px;
display: block;
margin: 8px;
}

.container {
  margin: 20px auto;
  width: 420px;
}

.baku-pic {
  background-image: url(../images/baku.jpg);
}

 background-image: url("images/london.png");
background-image: url("images/rome.jpg");
background-image: url("images/madrid.jpg");
.emphasis {
box-sizing: border-box;
position: center;
background-color: #dadada;
margin: 0px;
padding: 10px 0 15px 15px;
position: fixed;
width: 421px;
}


h1 {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 400;
}
